*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.tile{
    background-color: red;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}